.marginal-primary{
    margin:100px 0px 60px 0px;
    text-align: left;   
}
.marginal-secondary{
margin-left: 50px;
}

.flexual{
    display: flex;
    justify-content: flex-start;
    margin:40px 0px 30px 40px;
}

body {
    background-color:#213A5D;
}
.text{
    color: aliceblue;
    text-align: justify;
    margin-right: 40px;
    font-size: large;
    
}
