.marginal{
    margin:100px 0px 60px 80px;
    text-align: left;   
}

.flexual{
    display: flex;
    justify-content: flex-start;
    margin:40px 0px 30px 40px;
}

body {
    background-color:#213A5D;
}
.text{
    color: aliceblue;
    text-align: justify;
    margin-right: 40px;
    
}
